/* You can add global styles to this file, and also import other style files */


@import "assets/fonts/fonts.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-table{
    width:100%;
}



// primary font
$primary_font: 'Poppins';
$primary_font_style: normal;
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
  font-style: $primary_font_style;
}

html,
body {
 // height: 90%;
}

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: $primary_font,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);