/* You can add global styles to this file, and also import other style files */

@import "assets/fonts/fonts.css";


html,
body {
  height: 100%;
  background-color: grey;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.body {
  height: 100%;
  background-color: #a8bbda54;
}

a{
    text-decoration: none;
}


.full-width{
    width: 100%;
}

.center {
    display: grid;
    align-items: center;
    justify-items: center;
}


.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    align-items: center;
    justify-items: center;
    /* adjusted */
  }

  .margin-40{
      margin : 40px
  }
  